[submodule "simavr"]
	path = simavr
	url = https://github.com/mohe2015/simavr.git
[submodule "wabt"]
	path = wabt
	url = https://github.com/webassembly/wabt
[submodule "wasmtime"]
	path = wasmtime
	url = https://github.com/CraneStation/wasmtime
[submodule "niborobolib"]
	path = niborobolib
	url = https://github.com/mohe2015/niborobolib/
[submodule "ndk-samples"]
	path = ndk-samples
	url = https://github.com/android/ndk-samples
[submodule "useful-projects/racket"]
	path = useful-projects/racket
	url = https://github.com/racket/racket
