[submodule "simavr"]
	path = simavr
	url = https://github.com/mohe2015/simavr.git
[submodule "wabt"]
	path = wabt
	url = https://github.com/webassembly/wabt
[submodule "wasmtime"]
	path = wasmtime
	url = https://github.com/CraneStation/wasmtime
